html,
body {
  font-family: sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

iframe {
  display: none;
}

input, textarea {
  font-family: sans-serif;
}

.packages-wrapper {
  height: 100vh;
  position: relative;

  .header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
    }

    .hint-header-wrapper {
      position: absolute;
      bottom: 10px;
      z-index: 1;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;

      span {
        color: white;
        background-color: rgba(0, 0, 0, .75);
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .packages-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .package {
    width: 100%;
    margin-bottom: 20px;

    a {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: black;
    }

    .left {
      flex: 1 1 35%;
      overflow: hidden;
      img {
        width: 100%;
        border: 0;
        opacity: .95;
      }
    }

    .right {
      flex: 1 1 65%;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    span {
      margin: 5px 0;
      font-size: 14px;
      border-bottom: 1px solid black;

      &.from {
        font-size: 16px;
        font-weight: bold;
        border-bottom: 0;
      }
    }
  }
}
